@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-padding {
  padding: 100px 0 !important;
}

.container {
  max-width: 1920px;
  padding: 0 15px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ECFEFF;
  /* padding-top: 70px; */
}

.navbar {
  background-color: #0F766E;
  padding: 30px 0;
}


.navbar {
  background-color: #083A3A;
  padding: 10px 0;
}

.navbar-brand img {
  width: 200px;
}

.footer-logo img {
  width: 250px;
  margin-bottom: 20px;
}

.nav-link {
  font-size: 20px;
  margin-right: 20px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #5EEAD4 !important;
}

.nav-link.active {
  border-bottom: 4px solid #ffffff;
}

.page-header {
  background: #e7e2da;
  color: #020202;
  margin-top: 100px;
}

.page-header .para {
  color: #020202;
  letter-spacing: 4px;
}

h1 {
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 2px;
}


.card {
  transition: 0.3s;
  border-radius: 12px;
  overflow: hidden;
}

.card img {
  height: 330px;
  object-fit: cover;
}


.footer-theme {
  background-color: #0F766E;
  color: white;
  padding: 15px 0;
}

.footer-logo {
  width: 220px;
  max-width: 100%;
}

.footer-text {
  color: #e0e0e0;
  max-width: 320px;
  font-size: 20px;
  line-height: 2;
}

.footer-title {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}

.footer-links li {
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.footer-links a:hover {
  color: #00ffea;
}

.footer-divider {
  border-color: rgba(255, 255, 255, 0.664);
}

.footer-copy a {
  font-size: 0.9rem;
  color: #f1f1f1;
  text-decoration: none;
  font-size: 15px;
}

.footer-copy strong {
  font-size: 15px;
}

.footer-contact p {
  font-size: 20px;
  margin-top: 20px;
}